* { margin: 0px auto; padding: 0px; }

h1 { border: 0px solid black; text-align: center; font-size: 40px; padding-top: 20px; }
h2 { color: #990000; text-align: center; padding: 5px; }
h3 { color: #8585AD; padding: 10px; }
h4 { padding: 2px; }

.hide { display: none; }

.clear { clear: both; }
