
#recipe-footer { margin: 2px; }

div[class*="depends-on-"] { display: none; }

/*.recipe-step { margin: 2px; background-color: #E0E0E0; }*/

#recipe-content .recipe-step { clear: both; }
.recipe-step textarea { height: 40px; }
.build-buttons, #save-recipe { float: right; }

#recipe-execution div.recipe-step { height: 125px; width 150px; float: left; border: solid blue; margin: 3px; }

#recipe-palette .recipe-step,#recipe-palette .icon-error
	{ background-color: #E0E0E0; margin: 2px; width: 160px; height: 29px; cursor: pointer; }

#recipe-palette .recipe-step img,#recipe-palette .icon-error img,
#recipe-content .recipe-step img,#recipe-content .recipe-step textarea,
.step-instructions label 
  { float: left; }

#recipe-palette .recipe-step img,#recipe-palette .icon-error img { margin: 2px; clear: both; }

.step-icon { cursor:pointer; margin: 2px; }

.step-actions { clear: both; }

.draggable { cursor:move; }

.new-draggable { position:absolute; top:0px; left:0px; }

.recipe-textarea { float: left; height: 20px; width: 30; }

#message-block { margin: 3px; width: 95%; }

.caption { float: left; padding-left: 10px; }

#execute-button { float: right; }

#recipe-palette .build-buttons,#recipe-palette .exec-buttons,
#recipe-palette .step-instructions,#recipe-execution .build-buttons, 
#recipe-content .exec-buttons,.completed-step .build-done-button,
.current-step .depends-button
 { display: none }

#recipe-execution .exec-buttons { display: inline }

.current-step .build-done-button,.completed-step .depends-button, completed-step .depends-on { display: inline; }

#recipe-builder { height: 100%; }
