* { margin: 0px auto; padding: 0px; }

#main-header { width: 600px; height: 100px; }
#main-body { width: 600px; height: 400px; }
#main-sidebar { width: 100px; }
#main-display { width: 500px; }

#recipe-block {
  border: 1px solid black;
  width: 582px;
  height: 640px;
}

#recipe-palette {
  margin: 3px;
  width: 166px;
  float: left;
  height: 600px;
  background-color: #ededed;
}

#recipe-content { margin: 3px; width: 400px; float: left; 
  background-color: #ededed; height: 600px; }

#recipe-content-header { height: 50px; width: 100%; background-color:	#8FBC8F; }

#recipe-execution { width: 200px; float: left; }

div[class*="depends-on-"] { display: none; }

.recipe-step { margin: 2px; background-color: #E0E0E0; }

.icon-block { border: 1px solid blue; margin: 2px; width: 160px; height: 25px; }

.icon-block img,.recipe-step img,recipe-step textarea,.step-instructions label 
	{ float: left; }

.clear { clear: both; }

.step-icon { cursor:pointer; margin: 2px; }

.step-actions { clear: both; }

.draggable { cursor:move; }

.new-draggable { position:absolute; top:0px; left:0px; }

.hide { display: none; }

.recipe-textarea {
  float: left;
  height: 20px;
  width: 30;
}

#message-block {
  height: 20px
  width: 100%;
}

.caption {
  float: left;
  padding-left: 10px;
}

#execute-button { float: right; }


