#main { width: 960px; }

#main-header {  height: 100px; background-color: darkgray;  }

#main-body { height: 390px; }

.main-subview { height: 100%; overflow-y: auto; }

#left-sidebar { width: 160px; background-color: lightgray; float: left; }

#right-sidebar { width: 160px; background-color: lightgray; float: right; }

#main-display { width: 640px; float: left; }

#main-footer { height: 20px; background-color: darkgray; border: thick solid; }

#sidebar-menu {}

#sidebar-info {}

#recipe-palette { width: 166px; float: left; 
	  margin: 3px; height: 98%; background-color: #ededed; }

#recipe-content { margin: 3px; width: 400px; float: left; 
	  background-color: #ededed; height: 98%; overflow-y: auto; }

#recipe-content-header { height: 50px; width: 100%; background-color:	#8FBC8F; }

#recipe-execution-list { overflow-y: auto; }

.recipe-display-item
{
	border-bottom: thin dotted;
  clear: both;
  height: 25px;
  margin: 3px;
}

.recipe-item-picture { float: left; }

.recipe-item-name { width: 30%; margin: 2px; float: left; }

.recipe-item-desc { width: 50%; margin: 2px; float: left; }

.display-buttons { float: left; }

#recipe-display-list { overflow-y: auto; }

#main-header h1 { cursor: pointer; }
